/* _style.scss

The main Sass-sheet for this project.
---------------------------------------- */

/* Main Styles
---------------------------------------- */
* {
  
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Courier';
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
}

h1 {
  text-align: center;
}

/* Form
---------------------------------------- */

form {
  display: table;
  width: 80vw;
  height: 25vh;
  min-height: 200px;
  margin: 0 10vw;
  font-size: 1.25rem;
  background-color: #c8dadf;
  box-sizing: border-box;
}

.box__input,
.box__uploading,
.box__success,
.box__error {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.box__input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// Hide 'status' classes
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none; 
}

// Advanced browsers see drag and drop + diff styles
.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

// Dragged over
.box.is-dragover {
  background-color: darken(#c8dadf, 10%);
}

// Uploading
.box.is-uploading .box__input {
  display: none;
}
.box.is-uploading .box__uploading {
  display: table-cell;
}

//