/* _style.scss

The main Sass-sheet for this project.
---------------------------------------- */

/* Main Styles
---------------------------------------- */

body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica';
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
}

/* Form
---------------------------------------- */

form {
  display: table;
  width: 100%;
  height: 50vh;
  position: fixed;
  bottom: 0;
  margin: 0;
  font-size: 1.25rem;
  background-color: #c8dadf;
}

.box__input {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.box__input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// Hide 'status' classes
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none; 
}

// Advanced browsers see drag and drop + diff styles
.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

// Dragged over
.box.is-dragover {
  background-color: darken(#c8dadf, 10%);
}

// Uploading
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}